/* -------------------------------------------------------------------------- */
/* BUTTON STYLES */
/* -------------------------------------------------------------------------- */
@mixin btn-fade {
  transition: all 0.3s ease-in-out;
}

.ui-btn {
  font-size: 1.18rem;
  font-weight: 300;
  font-family: $font-primary;
  @include btn-fade;
}

.btn-white-white-left {
  color: $color-white;
  position: relative;

  &::before {
    content: "|";
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0.5rem;
    margin-left: 0.3rem;
    color: white;
  }

  &:hover {
    color: lighten($color-main, 20);
    text-decoration: none;
  }
}
.btn-main-main-left {
  color: $color-main;
  position: relative;

  &::before {
    content: "|";
    font-size: 1.5rem;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 0.5rem;
    margin-left: 0.3rem;
    color: $color-main;
  }

  &:hover {
    color: lighten($color-main, 20);
    text-decoration: none;
  }
}

.btn-dark-dark-right {
  color: $color-dark;
  position: relative;

  &::after {
    content: "|";
    font-size: 1.5rem;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 0.5rem;
    margin-right: 0.3rem;
    color: $color-dark;
  }

  &:hover {
    color: lighten($color-dark, 80);
    text-decoration: none;
  }
}

.ui-btn-group {
  .ui-btn:not(:last-child) {
    margin-right: 0.85rem;
  }
}

@media screen and (max-width: 414px) {
  .btn-dark-dark-right {
    &::after {
      content: "|";
      display: none;
    }
  }
  .btn-white-white-left {
    &::before {
      content: "|";
      display: none;
    }
  }
  .btn-main-main-left {
    &::before {
      content: "|";
      display: none;
    }
  }
}
