/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
// body,
// html {
//   background: $bg-color;
//   position: relative;
// }
.containerish {
  width: 100%;
  height: auto;
  padding: 0;
}

.form-control:focus {
  border-color: $color-dark;
  box-shadow: inset 0 1px 1px rgba($color-dark, 0.075),
    0 0 8px rgba($color-dark, 0.6);
}
/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  .containerish {
    width: 100%;
    display: grid;
    align-items: center;

    .content-wrapper {
      width: 100%;
      text-align: center;
    }
    .left-col,
    .right-col {
      padding: 40px 20px;
      height: auto;
      display: flex;
      align-items: center;

      p {
        // margin-bottom: 0;
      }

      h2 {
        margin-bottom: 2rem;
      }
    }

    .left-col {
      background: $color-main;
    }
    .right-col {
      background: #eaeaea;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* PLASTIC SURGERY */
/* -------------------------------------------------------------------------- */
.plasticsurgery {
  background: url("../img/plasticsurgery-bg@2x.jpg") center / cover;
  padding: 40px 20px;
  .containerish {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .small-logo {
      max-width: 40px;
      height: auto;
      margin-bottom: 2rem;
    }
    h2,
    .body-copy {
      text-align: center;
    }
    .sf {
      color: $color-main;
      padding: 0 0.5rem 0 0.2rem;
      font-size: 2.5rem;
    }
    .body-copy {
      margin: 1rem auto 2rem auto;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BREAST */
/* -------------------------------------------------------------------------- */
.breast {
  background: url("../img/breast-bg@2x.jpg") center / cover;
  height: 80vh;

  display: flex;
  align-items: center;
  justify-content: center;

  .content-wrapper {
    background: rgba($color-dark, 0.8);
    padding: 40px 20px;

    h2 {
      text-align: center;
      margin-bottom: 2rem;
    }
    p {
      margin-bottom: 2rem;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BREAST AUGMENTATION */
/* -------------------------------------------------------------------------- */
.breastaugmentation {
  background: url("../img/breast-augmentation-bg@2x.jpg") center / cover;
  min-height: 400px;
  .upper-section {
    .containerish {
      display: grid;
      .ui-col {
        // min-height: auto;
      }
      .left-col {
        position: relative;
        height: 350px;

        .top-angle {
          position: absolute;
          z-index: 1;
          top: 0;
          left: 0;
          width: 45%;
          max-width: 287px;
        }
        .links-container {
          position: absolute;
          top: 25px;
          left: 25px;
          z-index: 2;

          a {
            display: block;
          }
        }
      }
      .right-col {
        height: 400px;
        padding: 0 20px;
      }
    }
  }
  .lower-section {
    .containerish {
      padding: 40px 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* FACE */
/* -------------------------------------------------------------------------- */
.face {
  height: auto;
  padding: 40px 0;
  .containerish {
    display: grid;

    .face-content {
      background: $color-dark;
      padding: 40px 20px;
    }
    .face-small {
      display: none;
    }
    .face-smudge {
      display: none;
    }
    .right-col {
      position: relative;
      height: 250px;

      .top-angle {
        display: none;
      }
      .links-container {
        position: absolute;
        top: 25px;
        left: 25px;
        z-index: 2;

        a {
          display: block;
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BODY */
/* -------------------------------------------------------------------------- */
.body {
  background: url("../img/body-bg@2x.jpg") center / cover;

  .containerish {
    min-height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;

    .links-container {
      margin-left: 2rem;
      margin-bottom: 2rem;
      a {
        color: $color-white;
        display: block;

        &:hover {
          color: $color-main;
        }
      }
    }
  }
}
.body-2 {
  background: url("../../img/body-2-bg@2x.jpg") right / cover;
  padding: 40px 20px;
  .containerish {
    display: grid;

    .body-img {
      margin-bottom: 2rem;
    }

    //white box
    .body-content {
      background: #fff;
      padding: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;

      h2 {
        margin-bottom: 2rem;
      }

      .btn-main-main-left {
        color: $color-dark;

        &:hover {
          color: $color-main;
        }
      }
    }
  }
}
/* -------------------------------------------------------------------------- */
/* GALLERY */
/* -------------------------------------------------------------------------- */
.gallery {
  background: url("../../img/gallery-bg@2x.jpg") right / cover;
  padding: 40px 20px;

  .containerish {
    min-height: 400px;
    max-height: 485px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h1 {
      margin-bottom: 2rem;
    }

    .body-copy {
      text-align: center;
      max-width: 977px;
      margin: 0 auto;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* BIO */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ARTISTRY */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* CONSULTATION*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* INSTAGRAM */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* LOCATIONS */
/* -------------------------------------------------------------------------- */
