/* -------------------------------------------------------------------------- */
/* SECTION STYLES */
/* -------------------------------------------------------------------------- */
// body,
// html {
//   background: $bg-color;
//   position: relative;
// }
.containerish {
  width: 100%;
  height: auto;
  padding: 0;
}

.form-control:focus {
  border-color: $color-dark;
  box-shadow: inset 0 1px 1px rgba($color-dark, 0.075),
    0 0 8px rgba($color-dark, 0.6);
}
/* -------------------------------------------------------------------------- */
/* HERO SECTION */
/* -------------------------------------------------------------------------- */
.hero {
  .containerish {
    width: 100%;
    display: grid;
    align-items: center;

    .content-wrapper {
      width: 100%;
      text-align: center;
    }
    .left-col,
    .right-col {
      padding: 40px 20px;
      height: auto;
      display: flex;
      align-items: center;

      p {
        margin-bottom: 0;
      }

      h2 {
        margin-bottom: 2rem;
      }
    }

    .left-col {
      background: $color-main;
    }
    .right-col {
      background: #eaeaea;
    }
  }
}
/* -------------------------------------------------------------------------- */
/* PLASTIC SURGERY */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* BREAST */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* BREAST AUGMENTATION */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* FACE */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* BODY */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* GALLERY */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* BIO */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* ARTISTRY */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* CONSULTATION*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* INSTAGRAM */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* LOCATIONS */
/* -------------------------------------------------------------------------- */
